.ml3 {
  margin-left: 3px; }

.ml5 {
  margin-left: 5px; }

.ml10 {
  margin-left: 10px; }

.ml15 {
  margin-left: 15px; }

.mtf1 {
  margin-top: -1px; }

.mtf3 {
  margin-top: -3px; }

.mtf5 {
  margin-top: -5px; }

.mt3 {
  margin-top: 3px; }

.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

.mr3 {
  margin-right: 3px; }

.mr5 {
  margin-right: 5px; }

.mr10 {
  margin-right: 10px; }

.mr15 {
  margin-right: 15px; }

.f10 {
  font-size: 10px; }

.f12 {
  font-size: 12px; }

.f14 {
  font-size: 14px; }

.f16 {
  font-size: 16px; }

.f18 {
  font-size: 18px; }

.f20 {
  font-size: 20px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.float-none {
  float: none; }

body{
  font-family: "Microsoft Yahei";
}

a, a:active, a:focus, a:hover, button, button:focus, input, input:focus {
  outline: 0; }

.box{
	display: -webkit-flex;
}

.box-item{
	-webkit-flex:1;
}

.flex-direction{
  -webkit-flex-direction: column;
}

.center{
  text-align: center;
}