@import "reset";
@import "common";

html,body{
  width: 100%;
  height: 100%;
  font-size: 10px;
}
.container{
  width: 100%;
  height: 100%;
  position: relative;
}

.header{
  width: 100%;
  height: 44px;
  background: #454b93;
  line-height: 44px;
  color:#ffffff;
  position: relative;
  span{
    position: absolute;
    left:10px;
  }
  h2{
    text-align: center;
    font-size: 1.8rem;
  }
}

.nav{
  width: 100%;
  height: 44px;
  background: #f4f4f4;
  border-bottom: 1px solid #ccc;
  text-align: center;
  line-height: 44px;
  a{
    color: #000;
  }
  .on{
    border-bottom: 1px solid #454b93;
  }
}

section{
  position: absolute;
  top: 88px;
  bottom: 0;
  overflow: auto;
}
.content{
  width: 100%;
  padding-top: 10px;
}

.info{
  width: 100%;
  height: 100%;
  dl{
    width: 100%;
    height: 90px;
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    dt{
        width: 90px;
        height: 70px;
      img{
        width: 90px;
        height: 70px;
      }
    }
    dd{
      line-height: 18px;
    }
    dd h1{
      font-size: 1.6rem;
      font-weight: bold;
    }
    i{
      font-style: normal;
    }
    .yellow{
      color: #ffb432;
    }
    .grey{
      color: #f4f4f4;
    }
    .p1{
      color: #a2a2a2;
      span{
        float: right;
        em{
          color: #f36018;
          font-size: 1.4rem;
          font-style: normal;
        }
      }
    }
    .p2{
      color: #a2a2a2;
      span{
        float: right;
        i{
          color: #4ab6d1;
          font-size: 1.2rem;
          font-style: normal;
        }
      }
    }
  }

}