<div>
    <div class="info">
        <dl>
            <dt class="float-left mr10"><img ng-src="data.img" alt=""/></dt>
            <dd>
                <h1>'+val.name+'</h1>
                <div class="pingjia">
                    <i class="fa fa-star yellow"></i>
                    <i class="fa fa-star yellow"></i>
                    <i class="fa fa-star yellow"></i>
                    <i class="fa fa-star grey"></i>
                    <i class="fa fa-star grey"></i>
                </div>
                <p class="p1">月售 12份 <span><em>'+val.sendStart+'</em>起送</span></p>
                <p class="p2"><i>'+val.time+'</i>分钟 <i>'+val.distance+'</i>千米 <span>配送 <i>'+val.sendPrice+'</i>元</span>
                </p>
            </dd>
        </dl>
    </div>
</div>